.my-skills-conatiner {
    width: 100%;
    padding: 50px 0;
}

.my-skills-inner-conatiner {
    width: 1320px;
    margin: auto;
    font-display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-skills-inner-conatiner>h2 {
    color: transparent;
    background: var(--text-gradient);
    background-clip: text;
    width: fit-content;
    font-size: 2rem;
    font-weight: 700;
    margin: auto;
    margin-bottom: 15px;
}

.my-skills-inner-conatiner>p {
    color: var(--text-color);
    width: 600px;
    text-align: center;
    margin: auto;
}

.badges-container {
    width: calc(140px * 8 + 25px * 7);
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 50px;
    position: relative;
}

.badges-container::before {
    content: '';
    position: absolute;
    top: var(--y, 0);
    left: var(--x, 0);
    width: 150px;
    height: 150px;
    background: var(--radial-gradient);
    border-radius: 50%;
    filter: blur(75px);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
    opacity: 0;
}

.badges-container:hover::before {
    opacity: 1;
}

.fadeInUp-animation {
    animation-name: fadeInUp-animation;
    animation-duration: 3s;
}

.text-animationOn {
    opacity: 1;
    transform: translateY(0);
    transition: 3s;
}

.text-animationOff {
    opacity: 0;
    transform: translateY(50px);
    transition: 3s;
}

@media only screen and (max-width: 1400px) {
    .my-skills-inner-conatiner {
        width: 1140px;
    }

    .badges-container {
        width: calc(140px * 7 + 25px * 6);
    }
}

@media only screen and (max-width: 1200px) {
    .my-skills-inner-conatiner {
        width: 960px;
    }

    .badges-container {
        width: calc(140px * 6 + 20px * 5);
        gap: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .my-skills-inner-conatiner {
        width: 800px;
    }

    .badges-container {
        width: calc(140px * 5 + 20px * 4);
    }
}

@media only screen and (max-width: 830px) {
    .my-skills-inner-conatiner {
        width: 700px;
    }

    .badges-container {
        width: calc(140px * 4 + 40px * 3);
        gap: 40px;
    }

    .badges-container:hover::before {
        opacity: 0;
    }
}

@media only screen and (max-width: 720px) {
    .my-skills-inner-conatiner {
        width: 540px;
    }

    .my-skills-inner-conatiner>p {
        max-width: 100%;
    }

    .badges-container {
        width: calc(140px * 3 + 40px * 2);
    }
}

@media only screen and (max-width: 575px) {
    .my-skills-inner-conatiner {
        width: 100%;
        padding: 0 12px;
    }

    .badges-container {
        width: calc(140px * 2 + 15px * 1);
        gap: 15px;
    }
}