.small-skill-badge {
    width: fit-content;
    min-width: fit-content;
    height: fit-content;
    max-height: 39px;
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    border: 1px solid var(--small-skill-badge-border-color);
    border-radius: 20px;
    background-color: var(--small-skill-badge-background-color);
}

.small-skill-badge> svg {
    width: 20px;
    height: 20px;
}

.small-skill-badge> span {
    color: #FFFFFF;
    text-wrap: nowrap;
}