:root {
    --font: 'Sora', sans-serif;
    --primary-color: #283AFF;
    --secondary-color: #0A1264;
    --accent-color: #E3EBFF;
    --background-color1: #FFFFFF;
    --background-color2: #F3F3FC;
    --text-color: #0E0C1C;
    --grey: #747779;
    --form-border-color: #0A1264;
    --profile-photo-border-color: #F0F0F0;
    --button-gradient: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 51%, var(--primary-color) 100%);
    --text-gradient: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 100%);
    --radial-gradient: linear-gradient(260deg, var(--primary-color) 0%, rgba(67, 84, 210, 0) 100%)
}

[data-theme="dark"] {
    --font: 'Sora', sans-serif;
    --primary-color: #283aff;
    --secondary-color: #0a1264;
    --accent-color: #0E0C1C;
    --background-color1: #070915;
    --background-color2: #050509;
    --text-color: #FFFFFF;
    --grey: #747779;
    --form-border-color: #22272C;
    --profile-photo-border-color: #0F0F0F;
    --button-gradient: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 51%, var(--primary-color) 100%);
    --text-gradient: linear-gradient(to right, var(--primary-color) 0%, #ffffff 100%);
    --radial-gradient: linear-gradient(260deg, var(--primary-color) 0%, rgba(67, 84, 210, 0) 100%)
}

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: var(--font);
    transition: 0.3s;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--secondary-color);
}

body {
    background-color: var(--background-color1);
}